<?xml version="1.0" encoding="utf-8" ?>
	<appSettings>
		<add key="URL" value="http://192.168.0.111:80/TADashboard/login.jsp"/>
		<add key="TestDataSheetPath" value="D:\Logigear\Selenium csharp\C# Selenium\Advance\Homewok\G4AdvSeleniumDataDriven\SeleniumAdvProject\SeleniumAdvProject\TestDataAccess\TestData.xlsx"/>
	</appSettings>
	